$navbar-padding-vertical: 15px;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

@import "bootstrap";
@import "ember-power-select";

.navbar {
  .container {
    background-color: #4CAF50;
    .brand {
      color: white;
    }
  }
}

img {
  width: 100%;
}
