<div class="about">
  <h1>f/64</h1>
  <p>Group f/64 was a circle of photographer friends promoting a common aesthetic principle. <br>
    Formed during the Great Depression, people sought art as an escape from hardships.</p>
  <p>Modeled after The House of Medici concept, f/64 is a place where artists can publish information about projects or works to <br>
    receive donations and commission work.</p>
  <p>If you are an artist who needs help funding your next project, please apply. <br>
    If you enjoy art, please contribute to help make the world more creative.</p>
</div>
