<div class="about">
  <h1>f/64</h1>
  <p>Group f/64 was a circle of photographer friends to promote a common aesthetic principle. Formed during the Great Depression, people sought art as an escape from hardships.</p>
  <p>Modeled after The House of Medici concept, f/64 is a place where artists can publish information about projects or works to receive donations and commission work.</p>
</div>
