{{outlet}}
<footer>
  {{#link-to 'index'}}
    <a><h1>f/64</h1></a>
  {{/link-to}}
  {{#link-to 'about'}}
    <a><h1>About</h1></a>
  {{/link-to}}
  {{#link-to 'admin'}}
    <a><h1>Apply</h1></a>
  {{/link-to}}
  {{#link-to 'view-cart'}}
    <a><h1>Donations</h1></a>
  {{/link-to}}
</footer>
