<section class="fullscreen-banner">
  <div class="banner-cover">
    <a href="#" class="cover-link"></a>
  </div>
  <div class="banner-content">
    <h1>f/64</h1>
    <h2>Support Artists. <br> Support Art.</h2>
  </div>
</section>

<section class="artist-list">
  <div class="tile-row">
    <div class="col-md-6 info-tile no-link">
      <h1>Supporters:</h1>
      <h2>Want to fund an artists' project? <br> Donate to see the work come to life.</h2>
    </div>
    {{#each model as |print|}}
      <div class="col-md-6">
        <a data-toggle="modal" data-target={{concat "#modal" print.id}}>
          {{print-tile print=print}}
        </a>
        <div class="modal fade" id={{concat "modal" print.id}} tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              {{print-tile print=print showDetail="showDetail"}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    {{#link-to 'admin'}}
      <div class="col-md-6 info-tile">
        <h1>Artists:</h1>
        <h2>Submit your next project proposal <br> and a bit about yourself.</h2>
      </div>
    {{/link-to}}

  </div>
</section>
