<div class="print-tile row">
  {{#each model as |print|}}
    <div class="col-sm-4">
      <a data-toggle="modal" data-target={{concat "#modal" print.id}}>
        {{print-tile print=print}}
      </a>
      <div class="modal fade" id={{concat "modal" print.id}} tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            {{print-tile print=print showDetail="showDetail"}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
